.navbar-toggler-icon {
    background-image: url(assets/menuIcon.png);
}


/*the :not(:has(> *)) before the element state is so that it only applies to text, and not images
this is useful for things like not animating the search icon, which is technically a link.*/
a:not(:has(> *))::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  a:not(:has(> *)):hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  a:not(:has(> *))::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsla(200, 100%, 64%, 0.827);
    z-index: -1;
    transition: transform 0.2s ease;
  }
  
  a:not(:has(> *)) {
    position: relative;
  }

  a:focus-visible{
    outline: 3px solid hsla(200, 100%, 64%, 0.827);
    border-radius: 2px;
  }
  
  @media (orientation: landscape) {
    body {
      grid-auto-flow: column;
    }
  }

/*Adds a cross-fade transition between pages*/
@view-transition {
  navigation: auto;
}

/*Same font as VSC, opensourced by Microsoft*/
@font-face {
  font-family: "Cascadia Code", monospace;
  src: url(assets/CascadiaCode/CascadiaCode-Regular.otf);
}

/*Modifies the styling for the codeblocks*/
code{
  font-family: "Cascadia Code";
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: .1rem .3rem .2rem;
  border-radius: .2rem;
}

pre{
  font-family: "Cascadia Code";
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: .2rem 1rem .5rem;
  border-radius: .5rem;
}

/*Ensures that all link icons aren't underlined*/
#imgLink{
  text-decoration: none;
}

/*Sets the icons at the top of articles' settings, also has an animation upon hovering*/
#imgIcon{
  padding-left: 1.5%;
  padding-right: 1.5%;
  width: 6.5%;
  transition: width 0.5s;
}

#imgIcon:hover{
  width: 8%;
}

/*Round all of the corners for all images*/
img{
  border-radius: 20px;
}