/*the :not(:has(> *)) before the element state is so that it only applies to text, and not images
this is useful for things like not animating the search icon, which is technically a link.*/


/*Adds a cross-fade transition between pages*/
@view-transition {
  navigation: auto;
}

/*Ensures that all link icons aren't underlined*/
#imgLink{
  text-decoration: none;
}

/*Sets the icons at the top of articles' settings, also has an animation upon hovering*/
#imgIcon{
  padding-left: 1.5%;
  padding-right: 1.5%;
  width: 3.8rem;
  transition: width 0.5s;
}

#imgIcon:hover{
  width: 4.3rem;
}

/*Round all of the corners for all images*/
img{
  border-radius: 20px;
}

/*Increase size of codeblocks*/
.md-typeset code{
	padding: .2941176471em;
}

.md-typeset a:hover{
	color: rgb(255, 170, 0);
	text-decoration: underline;
}

a{
	color: white;
}

.md-typeset a{
	color: white;
	transition: 0.3s ease;
	text-decoration: underline;
}

.md-typeset p{
	font-size: 0.95em;
	line-height: 1.75em;
	word-spacing: 0.001em;
	letter-spacing: 0.01em;
}

/*https://github.com/drush-ops/drush/blob/13.x/docs/css/extra.drush.css*/
[data-md-toggle="search"]:not(:checked) ~ .md-header .md-search__form::after {
    position: absolute;
    top: .25rem;
    right: .2rem;
    display: block;
    padding: .1rem .3rem;
    color: rgb(255, 170, 0);
    font-weight: bold;
    font-size: .8rem;
    content: "[/]";
}